.td{
    height: 100px;
    width: 150px;
}
.empty-td{

    width: 300px;
}
.bleck-price{
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 60px;
    padding: 10px 40px 10px 40px;
}
.model-car{
    font-size: 10px;
}

