.navbar-nav{
    border:solid 1px grey;
    border:5px;
    border-radius: 5px;
    padding: 20px;
    height: 30px;
    width: 98%;
    background-color: black;
    border: gray;
}
.route{
    margin-left: 0;
    padding: 18px;
    height: 118px;
    color: white;
    font-size: 20px;

}

.route{
    margin-left: 0;
    padding: 18px;
    height: 118px;
    color: black;
    font-size: 20px;
}
.activ-rout{
    color: white;
    background-color: lawngreen;
}
a{
    color:black;
    text-decoration: none;
    font-size: 10px;
}
.container-menu{
    padding-top: 50px;
}
.active{
    background-color:#d90000;
    color:#fff;
}

.menu{
    padding-top: 20px;
}
.nav-link{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
