.form-data{
   padding-top: 10px;
}
.rgt-form{
    margin-right: 100px;
}
.rgt{
    float: right;
    margin-left: 100px;
}
.rg{
    margin-left: 20px;
    width: 72px;
}
.empty{
    width: 100px;
}
.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    width: 80px;
    margin-left: 20px;
    display: inline-block;
    background-color: white;
    padding: 4px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px grey;
}

.radio-toolbar  input[type="radio"]:checked+label {
    background-color: lawngreen;
    color: white;
}

.radio-toolbar1 label {
    width: 20px;
    margin-left: 20px;
    display: inline-block;
    background-color: white;
    padding: 4px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px grey;
}

.radio-toolbar1  input[type="radio"]:checked+label {
    background-color: lawngreen;
    color:black;
}
#r1,#r2,#r3{
    display: none;
}
.icon-many{
    color: black;
    padding-left: 5px;
}
.icon-many-dram{
    padding-left: 3px;
}



.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: lawngreen;
    transition: width .1s;
    color:lawngreen;
}

.cool-link:hover::after {

    width: 100%;

}
.cool-link:hover{
    color:lawngreen;
}
.span-link{
    font-size: 10px;
    margin-left: 20px;
}
.a{
    margin-left: 4px;
}
.sl{
    margin-left: 25px;
}



          div.a-rigth {
              position: relative;
              margin-top: -63px;
              margin-left: 349px;
              background-color: white;
              height: 65px;
              width: 42%;
              float: left;
              border: solid 2px grey;
              border-radius: 5px;
}
.car{
    height:65px;
}
.message{
    right: 80px;
    top: -4px;
    position: absolute;
    text-align: center;
    font-size: 10px;
}
.choose-img{
    color: #61dafb;
}
.hosts{
    border:solid 1px grey;
    border-radius: 5px;
    margin-left: 20px;
    width: 100px;
    height: 60px;
}
.left{
    background-color: lawngreen;
    color: white;
    float: left;
    box-shadow: none;
    padding: 5px;
    margin-left: 17px;
    border-radius: 5px;
}
.radio-price{
     position: absolute;
    float: left;
    border :solid 5px grey;
    left: -30px;
    top: 39px;
}
.cl-price{
    float: right;
    width: 180px;
    height: 100px;
}
.red{
    background-color: red;

}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
#f{
display:none;
}
#f-label{
    color: #61dafb;
}
h5{
    color: white;
    padding-left: 20px;
 }
h2{
    font-size: 50px;
    color: white;
    margin-top: -20px;
    padding-left: 50px;
}
.div-price-radio{
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}
.div-price{
    position: relative;
}
select.name-surname.phone.slc.sl{
    margin-left: 25px;
}
/*.label-price{*/
    /*position: relative;*/
/*}*/