.footer-container{
    height: 348px;
    width: 100%;
    background-color: black;
}
.logo{
    margin-top: 150px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}
.footer-logo{
    width: 40%;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}
.logo-site{
    width: 20%;

}
i{
    font-size: 20px;
}
.h1-logo{
    margin-top: 20px;
    color: aqua;
}
.contact{
    width: 40%;
}
.footer-center{

    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 100px;
}
.footer-container{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}
.contact-data{
    color: aqua;
}
.contact-field{
    margin-top: 25px;
}